<h1>This is the secret page</h1>

<p>You found me</p>

<img src='https://farm9.staticflickr.com/8446/7992585452_00a5900869.jpg'>


<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>