<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
        <link rel='stylesheet' href='/stylesheet/main.css'>
        <script src="https://use.fontawesome.com/a6104ec0c2.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
        	<div class="container">
        		<div class="navbar-header">
        			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
        				<span class="sr-only">Toggle navigation</span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        			</button>
        			<a href="/" class="navbar-brand">YelpCamp</a>
        		</div>
        		<div class="collapse navbar-collapse" id="bs-nav-demo">
        			<ul class="nav navbar-nav">
        				<li><a href="/">About</a></li>
        				<li><a href="/">Contact</a></li>
        			</ul>
        			<ul class="nav navbar-nav navbar-right">
        				<li><a id="test-button" href="/"><i class="fa fa-user-o" aria-hidden="true"></i> Sign up</a></li>
        				<li><a href="/"><i class="fa fa-user-circle" aria-hidden="true"></i> Login</a></li>
        			</ul>
        		</div>
        	</div>
        </nav>
